// body {
//     align-items: center;
//     display: center;
// }

.headers {
    margin: 10px; 
    font-size: 30px;
    text-decoration: none;
}

.homeAds {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.homeImage {
    position: relative;
    text-align: center;
    font-size: 100px;
    color: black; 

    p {
        position: absolute; 
        top: 50%; 
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

